.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
}

fieldset{
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: calc(100% - 26px);
  border: 1px solid lightgray;
  padding: 5px 12px 12px;
}
fieldset label{
  display: flex;
  width: 100%;
}

.form input{
  outline: none;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 8px 8px;
  width: calc(100% - 18px);
}

.form label{
  width: 100%;
}
.form button{
  margin-top: 12px;
}

.form:nth-child(2){
  background: lightgray;
}

.form button:hover{
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: teal;
}
.form button:active{
  box-shadow: unset;
  background: teal;
}